<header class="p-4 border-b border-white/20">
  <h1 class="text-xl font-semibold">Tasks App</h1>
</header>
<div>
  <div class="container px-5 mx-auto mt-10">
    <h2 class="text-2xl font-bold text-center">
      What would you like to do today?
    </h2>

    <div class="flex justify-center w-full gap-5 mt-5">
      <input
        class="w-full p-2 duration-100 border rounded-md outline-none border-white/20 bg-zinc-900 focus:border-blue-500"
        #newItem
        placeholder="add an item"
        (keyup.enter)="addItem(newItem.value); newItem.value = ''"
      />
      <button
        class="px-4 py-2 scale-95 bg-blue-500 rounded-md shadow-lg"
        (click)="addItem(newItem.value)"
      >
        Add
      </button>
    </div>

    <div class="my-10">
      <h3 class="text-sm font-semibold text-white text-opacity-50 text-start">
        {{ items.length }}
        <span *ngIf="items.length === 1; else elseBlock">Item</span>
        <ng-template #elseBlock>Items</ng-template>
      </h3>

      <ul class="grid grid-cols-1 gap-5 mt-2 md:grid-cols-2">
        <li *ngFor="let i of items">
          <app-item [item]="i" (remove)="remove(i)"></app-item>
        </li>
      </ul>
    </div>
  </div>
</div>
